body {
    background-color: aqua;
}

table {
    border-collapse: collapse;
}

td{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

img {
    width:32px;
}